<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Error</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/material.min.css">

  <style type="text/css">
  .error-template{
    padding: 40px 15px;
    text-align:center;
  }
  </style>
</head>
<body>

<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
           Internal Server Error</h1>
        <div class="error-details">
          The server encountered an internal error or misconfiguration and was unable to complete your request.<br/>
					Please contact the server administrator.
        </div>
        <div >
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Take Me Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

</html>
