<!doctype html>
<html lang="ko">
  <head>
      <% include ../common/htmlHead.ejs %>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <% include ../common/header_menu.ejs %>

      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" style="width:100%">
                <h6 class="mdl-card__title-text" style="font-size: 20px;"><%=row.BRDTITLE%></h6>
            </div>
            <div class="mdl-card__supporting-text" style="min-height: 100px;">
                <%=row.BRDMEMO%>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#" onclick="history.back(-1)">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_back</i></a>
                <%if (userno == row.USERNO) { %>    
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="delete?brdno=<%=row.BRDNO%>">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i></a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="form?brdno=<%=row.BRDNO%>">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">create</i> Modify</a>
                <% } %>
            </div>
        </div>        
      </main>
    </div>
  </body>
</html>
