<!doctype html>
<html lang="ko">
<head>
    <% include ../common/htmlHead.ejs %>
    <script>
      var page=1, isLoading = false;
      function ev_onScroll(){
        if (isLoading) return;

        var list = event.target;
        if ( (list.scrollTop) < (list.scrollHeight - list.offsetHeight-50) ) return;

        isLoading = true;
        $.ajax({
          type: "GET",
          url: "getPageList",
          data: {page:++page, keyword: $('#keyword').val()},
          success: function(r){
            r.rows.forEach(function(row) {
              var li = $('<li class="mdl-list__item mdl-list__item--two-line"/>');
              var html = '<span class="mdl-list__item-primary-content">' +
                         '<i class="material-icons mdl-list__item-avatar">explore</i>'+
                         '<span><a href="form?cmno=' + row.CMNO + '">' + row.CMTITLE + '</a></span>' +
                         '<span class="mdl-list__item-sub-title">' + row.CMSTATUSNM + '</span>' +
                         '</span>' + 
                         '<span class="mdl-list__item-secondary-content">' + row.UPDATEDATE + '</span>';
              li.html(html);
              $('#listUL').append(li);
            });

            isLoading = ! r.rows.length>0;
          },
          error: function (e) {
              console.log("some error", e);
          }
        }); 
      }
    </script>    
</head>
<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <% include ../common/header_menu.ejs %>

    <main class="mdl-layout__content mdl-color--grey-100" onScroll="ev_onScroll()">
      <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp">
        <ul id="listUL" class="demo-list-two mdl-list">
            <%
                rows.forEach(function(row) {
            %>                
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">explore</i>
                        <span><a href='form?cmno=<%=row.CMNO%>'><%=row.CMTITLE%></a></span>
                        <span class="mdl-list__item-sub-title"><%=row.CMSTATUSNM%></span>
                    </span>
                    <span class="mdl-list__item-secondary-content"><%=row.UPDATEDATE%></span>
                </li>
            <%
                });
            %>
        </ul>
      </div>
    </main>
  </div>
  <div style="bottom: 30px;position: absolute;right: 30px; z-index:99">
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" href="form">
      <i class="material-icons">add</i>
    </a>
  </div>
</body>
</html>
