<!doctype html>
<html lang="ko">
  <head>
      <style>
        .cmdesc img {
          max-width: 98%;
        }
        .cmdesc a {
          color: blue;
        }
    </style>   
  </head>
  <body>
        <div class=" cmdesc">
            <span><%-cmdesc%></span>
        </div>  
  </body>
</html>
